/* Custom scrollbar to look minimal like Claude */
#chat-container::-webkit-scrollbar {
  width: 6px;
}
#chat-container::-webkit-scrollbar-thumb {
  background-color: #e5e2da;
  border-radius: 10px;
}
textarea:focus {
  box-shadow: none;
}
